.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child){
    margin-right: 10px;
}

.infobox__cases {
    color: red;
}

.infobox__total {
    font-weight: 700 !important;
    color: black !important;
}

.infoBox--selected {
    border-top: 10px solid red;
}