.table__column {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: black;
}

.country__column {
    width: 100%;
}

.country__column tr  {
    display: flex;
   justify-content: space-between;
    
}

.table__column td {
    padding: 0.5rem;
}

.country__column:nth-of-type(odd) {
    background: lightsteelblue;
}