* {
  margin: 0;
  padding: 0;
}

body{
  background: lightslategray;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.stats {
  display: flex;
  justify-content: space-between;
}