* {
  margin: 0;
  padding: 0;
}

body{
  background: lightslategray;
}
.app {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.leftside__app {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.stats {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}